@media only screen and (max-width: 600px) {	
.courses{
width:75vw;
font-size:1em;
margin-right:15px;
margin-top:15px;
}

.courses .hover{
width:75vw;
font-size:1em;
}

.listBody .textBody{
margin-bottom:10px;
margin-top:20px;
}

.courses:nth-child(n){
margin-right:0px;
}

.courses:nth-child(n){
clear:both;
}

.subject{
display:inline-block;
}

.listBody .textBody{
margin-left:20px;
}

.listBody .name{
margin-top:20px;
}

.footer hr{
	padding-top:20px;
}

#content{
	margin-top:20px;
}
}

